<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>md_emphasis.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/ruby</string>
			<key>Shell Script File</key>
			<string>md_emphasis.rb</string>
			<key>Title</key>
			<string>emphasis</string>
			<key>After</key>
			<string>paste-result</string>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert to Markdown emphasis.</string>
	<key>Extension Identifier</key>
	<string>com.brian-erickson.popclip.extension.mdEmphasis</string>
	<key>Extension Name</key>
	<string>Emphasis</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
